.cat-nav
{
	margin-top: 20px;
	align:center;
	border-top:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#6C8DD5));
	background-image: -webkit-linear-gradient(top, #a5b8da, #6C8DD5);
	background-image: -moz-linear-gradient(top, #a5b8da, #6C8DD5);
	background-image: -ms-linear-gradient(top, #a5b8da, #6C8DD5);
	background-image: -o-linear-gradient(top, #a5b8da, #6C8DD5);
	background-image: linear-gradient(to bottom, #a5b8da, #6C8DD5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#6C8DD5);
}
.home a
{
	font-size: 25px;
	font: white;
}

.post-title
{
	color:#191970;
	background: linear-gradient(to right, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(62,63,76,1) 100%);
	font-size: 35px;
	padding: 15px;
	margin: 20px 0px;
}
.post-body div.pic {

    height: 300px;

    width: 300px;

    overflow: hidden;

    margin: 20px;

    border: 10px solid white;

    -webkit-box-shadow: 5px 5px 5px #111;

    box-shadow: 5px 5px 5px #111;

    float: right;

}
/*TILT*/

.post-body div.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.post-body div .tilt:hover {
  -webkit-transform: rotate(-40deg);
     -moz-transform: rotate(-40deg);
       -o-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
img
{
	max-height: 300px;
	float: left;
	padding-right: 25px;
}
#ContactEmail
{
	padding-left: 15px;
	color: #191970;
}
#ContactSubject
{
	padding-left: 15px;
	color: #191970;
}
#ContactMessage
{
	padding-left: 15px;
	color: #191970;
}
body
{
	background-color:#6C8DD5;
	border: 10px;                      
}
a
{
	text-decoration:none;
}
.category-title
{
	text-decoration: underline;
	color: #191970;
	text-align: center;
	font-family: Loved by the King;
	font-size: 85px;
}
.blog-tags
{
	color:#191970;
	font-style: italic;
	font-size: 10px;
	
}
.post-body
{
	
	color: #778899;
	margin: 15px;
	padding: 15px;
	font-family: cursive;
	position: relative;
	display: block;
	overflow: visible;
}
.post-image
{	
	padding:40px;
}
.comments
{
	margin: 15px;
	border-top-left-radius: 50px 50px;
	border-bottom-right-radius: 50px 50px;
	border-top-right-radius: 50px;
	border-top: solid;
	border-color: black;
	padding: 15px;
}

.comments h1
{
	padding-top: 35px;
	padding-bottom: 25px;
	font-size: 25px;
}
.comment-title
{
	margin: 40px;
	border-bottom: solid;
	border-color : #1533AD;
	font-size: 20px;
}
#CommentUsername
{
	font-size: 25px;
	color: #191970;
	-webkit-box-shadow: inset -5px -5px 89px -11px rgba(28,21,28,1);
	-moz-box-shadow: inset -5px -5px 89px -11px rgba(28,21,28,1);
	box-shadow: inset -5px -5px 89px -11px rgba(28,21,28,1);
}
#CommentBody
{
	color: #191970;
	-webkit-box-shadow: inset -5px -5px 89px -11px rgba(28,21,28,1);
	-moz-box-shadow: inset -5px -5px 89px -11px rgba(28,21,28,1);
	box-shadow: inset -5px -5px 89px -11px rgba(28,21,28,1);
}
.comments-form form
{
	padding: 15px;
	margin: 15px;
	-webkit-box-shadow: inset 0px -3px 16px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: inset 0px -3px 16px 0px rgba(0,0,0,0.65);
	box-shadow: inset 0px -3px 16px 0px rgba(0,0,0,0.65);
	background-color:white;
	
}
legend label 
{
	font-family: Loved by the King;
	border-bottom: 1px solid;
	color: #6C8DD5;
	font-size: 35px;
	text-align: center;
	padding: 20px;
	margin: 20px;
}
.comment-username
{
	padding: 10px;
	background: rgb(235,233,249); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(62,63,76,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(235,233,249,1)), color-stop(50%,rgba(216,208,239,1)), color-stop(51%,rgba(206,199,236,1)), color-stop(100%,rgba(62,63,76,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(62,63,76,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(62,63,76,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(62,63,76,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(62,63,76,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#3e3f4c',GradientType=1 ); /* IE6-9 */
	font-weight: bold;
	font-size: 20px;
	color: #778899;
	font-family: 'Berkshire Swash', cursive;
	font: white;
}
.comment-body
{
	margin-top: 1px;
	margin-bottom: 15px;
	margin-left: 15px;
	padding: 15px;
	font-weight: bold;
	font-size: 15px;	
	border-top-left-radius: 10px 5px;
	border-bottom-right-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	border-bottom-left-radius: 10px 5px;
	color: #778899;
	font-family: 'Berkshire Swash', cursive;
}
.comment-row
{
    background-color: #FFFFFF;
    border-bottom-right-radius: 10px 5px;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    box-shadow: 0 -3px 16px 0 rgba(0, 0, 0, 0.65) inset;
    color: #000000;
    margin: 25px 0;
    min-height: 150px;
    padding: 15px;
}
#content
{
	background-color: #6C8DD5;
	clear: both;
	color: white;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
.blog-top
{
	text-decoration: underline;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	font-size: 55px;
}
.blog-title
{
	background: linear-gradient(to right, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(62,63,76,1) 100%);
	font-size: 35px;
	padding: 15px;
	margin: 20px 0px;
	border-top-left-radius: 50px 50px;
	border-bottom-right-radius: 50px 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px 50px;
	color:#191970;
}
#header a
{
	font-weight:normal;
}
#navigation a
{
	color:#000;
}

#sub-footer
{
	font-family: Loved by the King;
	font-size: 25px;
	text-align: center;
	background-color: #6C8DD5;
	color: black;
	padding-bottom: 10px;
	padding-top: 10px;
}

.post-image
{
	color: white;
}
.cat-nav li:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.cat-nav li:active {
	position:relative;
	top:1px;
}

.cat-nav li
{	
	
	margin: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	min-width: 20em;

}
.contact-me li:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.contact-me li:active {
	position:relative;
	top:1px;
}

.contact-me li {
	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	width: 150px;
	float: right;
}
li a
{
	
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	font-size: 15px;
}
#header
{	
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	border-bottom-style: solid 1px;
	border-bottom-color: color: rgba(0,0,0,0.6);
	color: white;	
	font-family: Loved by the King;
	font-size: 70px;
	text-align: -webkit-center; 
}
#footer
{
	text-align: center;
	background-color:#6C8DD5;
	color: white;
	font-family: Loved by the King;
	font-size: 35px;
	border-top-style: solid;
	border-top-color: #06276F;
}
#footer a
{
	color: white;
	text-align: center;
	font-family: cursive;
	font-size: 18px;
	list-style-type:none;
	display:inline;
	margin:0;
	padding:0;
}
.blog-date
{
	font-size: 20px;
	font-family: cursive;
}


.cat-title h3{
	
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	font-size:	55px;
}

.blog-info
{
	background: #7abcff; 
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	position: relative;
	display: block;
	overflow: hidden;
	box-shadow: 10px 10px 5px #4965D6;
	font-size: 20px;
	background: white;
	color:black;
	padding: 30px;
	margin: 20px;
	border-top-left-radius: 50px 50px;
	border-bottom-right-radius: 50px 50px;
	border-top-right-radius: 50px
	
}
.blog-info p
{
	
	font-size: 15px;
	font-family: cursive;
}
.post-section {
    background-color: #FFFFFF;
    border-bottom-right-radius: 10px 5px;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    box-shadow: 0 -3px 16px 0 rgba(0, 0, 0, 0.65) inset;
    clear: both;
    color: #778899;
    font-size: 18px;
    margin: 45px 0;
    overflow: auto;
}
.home-page-content
{
	background-color: #6C8DD5;
	margin-right: 10px;
	float: left;
	
}
.home-page-content p
{
	background-color: #6C8DD5;
	font-family: Loved by the King;
	font-size: 30px;
	float: none;
	padding: 20px;
}
.home-page-content img
{
	float: none;
	margin: 20px auto;
	width: 150px;
	display: block;
}

/** Contact Form **/

.contact-form form
{
	font-family: cursive;
	background-color: #B0C4DE;
	border-bottom-right-radius: 10px 5px;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
}
.contact-form form input
{
	border-bottom-right-radius: 10px 5px;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    color: #191970;
}
#ContactMessage
{
	border-bottom-right-radius: 10px 5px;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    color: #191970;
}
.contact-form h1
{
	font-family: cursive;
	text-decoration: underline;
	font-size:	35px;
	color: white;
	text-align: center;
	padding: 15px 0px;
}
.tag-posts
{
	background-color: #FFFFFF;
	border-bottom-right-radius: 10px 5px;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	box-shadow: 0 -3px 16px 0 rgba(0, 0, 0, 0.65) inset;
	clear: both;
	color: #778899;
	font-size: 18px;
	margin: 45px 0;
	padding: 15px;

}
.back-button button:active
{
	position:relative;
	top:1px;
}
.back-button button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.back-button button
{
	float: left;
	margin: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	min-width: 20em;
}
button.home
{
	margin: 15px;
	padding: 15px;
	float: right;
}
.tag-post-title
{
	border-bottom-right-radius: 10px 5px;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	border-bottom-left-radius: 10px 5px;
	background: linear-gradient(to right, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(62,63,76,1) 100%);
	font-size: 35px;
	padding: 15px;

}
.tag-post-id
{
	color: black;
	margin: 15px
}
.tag-post-category-id
{
	color:black;
	margin: 15px;
}
.tag-post-body
{
	padding:25px;
}
.tag-post-actions
{
	padding: 15px;
	margin: 15px;
}
.related-posts
{
	text-decoration: underline;
	color: #191970;
	text-align: center;
	font-family: Loved by the King;
	font-size: 65px;
}
